<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FinanceDashboard.My.MySettings.FinanceConnectionString"
      connectionString="Data Source=WIN2022;Initial Catalog=Finance;Persist Security Info=True;User ID=mm;Password=ahmed"
      providerName="System.Data.SqlClient" />
    <add name="FinanceConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Finance;Encrypt=true;TrustServerCertificate=true" />
    <add name="FinanceDashboard.My.MySettings.qrConnectionString"
      connectionString="Data Source=WIN2022;Initial Catalog=qr;Persist Security Info=True;User ID=mm;Password=ahmed"
      providerName="System.Data.SqlClient" />
    <add name="FinanceDashboard.My.MySettings.solConnectionString"
      connectionString="Data Source=WIN2022;Initial Catalog=sol;Persist Security Info=True;User ID=mm;Password=ahmed"
      providerName="System.Data.SqlClient" />
    <add name="FinanceDashboard.My.MySettings.ConnectionString" connectionString="Data Source=WIN2022;User ID=mm;Password=ahmed"
      providerName="System.Data.SqlClient" />
    <add name="FinanceDashboard.My.MySettings.solConnectionString1"
      connectionString="Data Source=WIN2022;Initial Catalog=sol;Persist Security Info=True;User ID=mm;Password=ahmed"
      providerName="System.Data.SqlClient" />
    <add name="FinanceDashboard.My.MySettings.FinanceConnectionString1"
      connectionString="Data Source=WIN2022;Initial Catalog=Finance;Persist Security Info=True;User ID=mm;Password=ahmed"
      providerName="System.Data.SqlClient" />
    <add name="FinanceDashboard.My.MySettings.qrrConnectionString1"
      connectionString="Data Source=WIN2022;Initial Catalog=qr;Persist Security Info=True;User ID=mm;Password=ahmed"
      providerName="System.Data.SqlClient" />
    <add name="FinanceDashboard.My.MySettings.qrConnectionString1"
      connectionString="Data Source=WIN2022;Initial Catalog=qr;Persist Security Info=True;User ID=mm;Password=ahmed"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>PerMonitorV2</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Tajawal;10.2</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="50,50,50" />
                <SvgColor Name="Paint High" Value="35,35,35" />
                <SvgColor Name="Paint Shadow" Value="55,55,55" />
                <SvgColor Name="Paint Deep Shadow" Value="60,60,60" />
                <SvgColor Name="Brush" Value="240,240,240" />
                <SvgColor Name="Brush High" Value="240,240,240" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="75,75,75" />
                <SvgColor Name="Brush Minor" Value="70,70,70" />
                <SvgColor Name="Accent Paint" Value="89,139,125" />
                <SvgColor Name="Accent Paint Dark" Value="73,120,106" />
                <SvgColor Name="Accent Paint Light" Value="70,70,70" />
                <SvgColor Name="Accent Paint Lighter" Value="55,55,55" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="171,204,194" />
                <SvgColor Name="Red" Value="246,71,37" />
                <SvgColor Name="Green" Value="52,166,63" />
                <SvgColor Name="Blue" Value="35,158,244" />
                <SvgColor Name="Yellow" Value="247,174,17" />
                <SvgColor Name="Black" Value="200,200,200" />
                <SvgColor Name="Gray" Value="100,100,100" />
                <SvgColor Name="White" Value="35,35,35" />
              </SvgPalette>
            </Skin>
            <Skin Name="WXI">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Background 200" Value="255,255,255" />
                <SvgColor Name="Background 100" Value="250,250,250" />
                <SvgColor Name="Background 0" Value="244,244,244" />
                <SvgColor Name="Background -100" Value="238,238,238" />
                <SvgColor Name="Background -200" Value="234,234,234" />
                <SvgColor Name="Foreground 100" Value="36,36,36" />
                <SvgColor Name="Foreground 50" Value="156,156,156" />
                <SvgColor Name="Foreground 25" Value="Silver" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="255,255,255" />
                <SvgColor Name="Edit Background -50" Value="1,92,170" />
                <SvgColor Name="Edit Background -100" Value="0,103,192" />
                <SvgColor Name="Edit Background -200" Value="0,103,192" />
                <SvgColor Name="Edit Background -300" Value="230,230,230" />
                <SvgColor Name="Edit Foreground 100" Value="255,255,255" />
                <SvgColor Name="Edit Foreground 50" Value="118,118,118" />
                <SvgColor Name="Edit Foreground 25" Value="Silver" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="156,156,156" />
                <SvgColor Name="Line 50" Value="208,208,208" />
                <SvgColor Name="Line 25" Value="230,230,230" />
                <SvgColor Name="Line Gradient 100" Value="147,137,83">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#8D8D8D" />
                    <stop offset="10%" stop-color="#E6E6E6" />
                    <stop offset="100%" stop-color="#E6E6E6" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="196,189,151">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#CCCCCC" />
                    <stop offset="10%" stop-color="#E6E6E6" />
                    <stop offset="100%" stop-color="#E6E6E6" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="186,224,255" />
                <SvgColor Name="Primary Background 0" Value="191,191,191" />
                <SvgColor Name="Primary Background -100" Value="15,36,62" />
                <SvgColor Name="Primary Background -200" Value="149,179,215" />
                <SvgColor Name="Primary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Primary Foreground 25" Value="109,166,225" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="0,103,192" />
                <SvgColor Name="Secondary Background -100" Value="1,92,170" />
                <SvgColor Name="Secondary Background -200" Value="0,84,158" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="109,166,225" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="231,72,86" />
                <SvgColor Name="Green" Value="1,133,116" />
                <SvgColor Name="Blue" Value="0,120,212" />
                <SvgColor Name="Yellow" Value="255,140,0" />
                <SvgColor Name="Black" Value="74,84,89" />
                <SvgColor Name="Gray" Value="192,192,192" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>